.header {
  background: red; }
  .header nav ul li a {
    color: green; }

nav a {
  background: black; }
  nav a:hover {
    color: blue; }

.div1 {
  border-radius: 10px; }

.div2 {
  border-radius: 30px; }

.botao, .botao-primary, .botao-danger, .botao-info {
  padding: 15px; }

.botao-primary {
  background: blue; }

.botao-danger {
  background: orange; }

.botao-black {
  color: #000; }

.botao-info {
  background: #fff; }
  .botao-info:hover {
    background: #f2f2f2; }

.botao-topo {
  background: yellow; }
  .botao-topo:hover {
    background: orange; }

.menu {
  padding-top: 10px; }
  .menu-rodape {
    padding-top: 30px; }
